img{
    width: 450px;
    height: 500px;
}
div{
    text-align: center;
    border: 10px solid blueviolet;

}
button{
    display: block;
    color: crimson;
    margin: 0 auto;
}
p{
    color: green;
}
.text{
    color: blue;
    font-size:30px;
}